@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
body {
  font-family: 'Roboto', sans-serif;
}

/* Thanh cuộn dọc */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

/* Phần nền thanh cuộn */
.scrollbar-custom::-webkit-scrollbar-track {
  background: #f3f4f6; /* Màu track: gray-100 */
}

/* Phần nút cuộn */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #921573; /* Màu tím bạn dùng */
  border-radius: 8px;
}

/* Hover */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #7b125f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 0.2s ease-out forwards;
}

/* Ẩn arrow mặc định của slick */
.slick-prev::before,
.slick-next::before {
  display: none !important;
}
